.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
/.classpath
/.project
/.settings/org.eclipse.buildship.core.prefs
/.settings/org.eclipse.jdt.core.prefs
/bin/main/com/brainlet/BlackBox.class
/bin/main/com/brainlet/Brainlet.class
/bin/main/com/brainlet/BrainletBody.class
/bin/main/com/brainlet/BrainletMemories.class
/bin/main/com/brainlet/BrainletMemory.class
/bin/main/com/brainlet/Identity.class
/bin/main/com/brainlet/Mood.class
/bin/main/com/brainlet/MoodModifier.class
/bin/main/com/brainlet/Senses.class
/bin/main/com/brainlet/identity/MBTIIdentity.class
/bin/main/com/brainlet/mbti/MBTI$MBTIJson.class
/bin/main/com/brainlet/mbti/MBTI.class
/bin/main/com/brainlet/memories/RAMMemories.class
/bin/main/com/brainlet/plutchik/PlutchikConstants.class
/bin/main/com/brainlet/plutchik/PlutchikMood.class
/bin/main/com/brainlet/plutchik/PlutchikWheel$MoodCalculation.class
/bin/main/com/brainlet/plutchik/PlutchikWheel.class
/bin/main/mbti/ENFJ.json
/bin/main/mbti/ENFP.json
/bin/main/mbti/ENTJ.json
/bin/main/mbti/ENTP.json
/bin/main/mbti/ESFJ.json
/bin/main/mbti/ESFP.json
/bin/main/mbti/ESTJ.json
/bin/main/mbti/ESTP.json
/bin/main/mbti/INFJ.json
/bin/main/mbti/INFP.json
/bin/main/mbti/INTJ.json
/bin/main/mbti/INTP.json
/bin/main/mbti/ISFJ.json
/bin/main/mbti/ISFP.json
/bin/main/mbti/ISTJ.json
/bin/main/mbti/ISTP.json
/bin/test/com/brainlet/MBTITests.class
/bin/test/com/brainlet/PlutchikWheelTests.class
/out/production/classes/com/brainlet/BlackBox.class
/out/production/classes/com/brainlet/Brainlet.class
/out/production/classes/com/brainlet/BrainletBody.class
/out/production/classes/com/brainlet/BrainletMemories.class
/out/production/classes/com/brainlet/BrainletMemory.class
/out/production/classes/com/brainlet/Identity.class
/out/production/classes/com/brainlet/Mood.class
/out/production/classes/com/brainlet/MoodModifier.class
/out/production/classes/com/brainlet/Senses.class
/out/production/classes/com/brainlet/identity/MBTIIdentity.class
/out/production/classes/com/brainlet/mbti/MBTI$MBTIJson.class
/out/production/classes/com/brainlet/mbti/MBTI.class
/out/production/classes/com/brainlet/memories/RAMMemories.class
/out/production/classes/com/brainlet/plutchik/PlutchikConstants.class
/out/production/classes/com/brainlet/plutchik/PlutchikMood.class
/out/production/classes/com/brainlet/plutchik/PlutchikWheel$MoodCalculation.class
/out/production/classes/com/brainlet/plutchik/PlutchikWheel.class
/out/production/resources/mbti/ENFJ.json
/out/production/resources/mbti/ENFP.json
/out/production/resources/mbti/ENTJ.json
/out/production/resources/mbti/ENTP.json
/out/production/resources/mbti/ESFJ.json
/out/production/resources/mbti/ESFP.json
/out/production/resources/mbti/ESTJ.json
/out/production/resources/mbti/ESTP.json
/out/production/resources/mbti/INFJ.json
/out/production/resources/mbti/INFP.json
/out/production/resources/mbti/INTJ.json
/out/production/resources/mbti/INTP.json
/out/production/resources/mbti/ISFJ.json
/out/production/resources/mbti/ISFP.json
/out/production/resources/mbti/ISTJ.json
/out/production/resources/mbti/ISTP.json
/out/test/classes/com/brainlet/MBTITests.class
/out/test/classes/com/brainlet/PlutchikWheelTests.class
